tei-front{
    display: block;
    margin-left: 25px;
    margin-right: 35px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: Spectral,'Times New Roman', Times, serif;
    font-size: 14pt;
}

tei-role{
    color: black;
    font-style: italic;
    font-weight: bold;
    display:block;
}

tei-roleDesc{
        color: black;
    display:block;
}

tei-castGroup {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: 1px dashed #941b1b;
    padding-top: 10px;
}
tei-castGroup > tei-roleDesc {
    display: block;
    font-weight: bold;
    font-size: 15pt;
    text-decoration: underline;
    margin-bottom: 5px;
}
body {
    display: block;
    margin-left: 25px;
    margin-right: 35px;
    font-family: Spectral,'Times New Roman', Times, serif;
    font-size: 14pt;
    color: black;
}

h1 {
    font-size: 20pt;
    font-family: 'Macondo Swash Caps';
    color: brown;
}

tei-teiheader {
    display:block;
    font-family: 'Macondo Swash Caps';
    text-align: center;
    color: green;
}
tei-title {
    display:block;
    font-size: 80px;
}
tei-author {
    display:block;
    font-size: 40px;
}
tei-sourceDesc tei-p {
    color: rgb(60, 103, 60);
    display: block;
}
tei-publicationStmt tei-p {
    color: rgb(60, 103, 60);
    display: block;
}

tei-stage{
    display:block;
    font-style: italic;
}

tei-stage[lang="eng"]{
    display:block;
    font-style: italic;
    color:brown;
}
tei-stage[lang="spa"]{
    color:violet;
}

tei-sp {
    display: block;

}

tei-speaker{
    display:block;
    font-variant: small-caps;
    color: chartreuse;
    margin-top: 12pt;
}

tei-l {
    display:block;

}
tei-p {
    display:block;
    
}
tei-lem{
    display: inline;
    font-style: italic;
    color: rgba(9, 30, 150, 0.979);
}

tei-lem::after{
    content: "(" attr(wit) ")";
    vertical-align: sub;
    font-size: 6pt;
    color: rgba(9, 30, 150, 0.979);
}

tei-lem[n]::after{
    content: "0 (" attr(wit) ")";
    color: black;
    font-weight: 600;
}

tei-rdg {
    display: inline;
    color: gray;
    font-style:italic;
}

tei-rdg::after{
    content: "(" attr(wit) ")";
    vertical-align: sub;
    font-size: 6pt;
}
tei-rdg[type=variation-absent]::after {
content: "0 (" attr(wit) ")";
vertical-align: sub;
    font-size: 6pt;

}

tei-rdg[type=variation-present]::before {
content: "^";
vertical-align: sub;
    font-size: 6pt;
}

tei-rdg[type=variation-present]::after {
content: "(" attr(wit) ")";
vertical-align: sub;
    font-size: 6pt;
}